h3,h4{
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

#newP{
    text-transform: capitalize;
    line-height: 20px;
}

#threeP{
    text-align: left;
    margin-left: 20px;
}
#fourP{
    text-align: center;
}
