#first{
    list-style: circle;
}

#second{
    list-style: disc;
}

#third{
    list-style: decimal;
}

#fourth{
    list-style: lower-latin;
}

#fifth{
    list-style: lower-roman;
}

.image{
    list-style-image: url(https://img.icons8.com/color/35/000000/maple-leaf.png);
}

.img1{
    list-style-image: url(https://img.icons8.com/color/35/000000/maple-leaf.png);
}
.img2{
    list-style-image: url(https://img.icons8.com/color/35/000000/maple-leaf.png);
}
.img3{
    list-style-image: url(https://img.icons8.com/color/35/000000/maple-leaf.png);
}
